body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#calendar {
  max-width: 55%;
  margin: 0 auto;
}

.sidebarleft {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Enable vertical scrolling */
}

.sidebarleft input {
  margin-bottom: 10px;
  width: 100%; /* Adjust input width */
  padding: 8px; /* Adjust input padding */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
  box-sizing: border-box; /* Adjust box-sizing */
}

.sidebarleft label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#durationError {
  color: red;
  margin-bottom: 10px;
}

#addTaskButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px; /* Add border radius */
}

#addTaskButton:hover {
  background-color: #45a049; /* Darker Green */
}

.taskList {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin */
  max-height: calc(100% - 140px); /* Limit maximum height of task list to allow space for other elements */
  overflow-y: auto; /* Enable vertical scrolling for task list */
}

.taskList li {
  margin-bottom: 10px;
  padding: 5px 0; /* Add padding to task list items */
}

.taskList li a {
  text-decoration: none;
  color: red;
  margin-left: 5px;
}

.taskList li a:hover {
  color: darkred;
  text-decoration: none; /* Remove underlining on hover */
}

.sidebarright {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  font-size: 2em; /* Adjust font size */
  line-height: 2em; /* Adjust line height */
}


