<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Time Manager</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <script src=" https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js "></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script type="text/javascript">
      var username = "{{username}}";
      var work_start_time = "{{work_start_time}}";
      var work_end_time = "{{work_end_time}}";
      var ideal_chunk_length = "{{ideal_chunk_length}}";
      var event_padding = "{{event_padding}}";
    </script>

    <script src="static/app.js"></script>

    <link href="../static/style.css" rel="stylesheet" />

    <link rel="icon" href="static/favicon.ico" />
  </head>

  <body>
    <script>
      0;
    </script>
    <div id="calendar"></div>

    <div class="sidebarleft" id="taskSidebar">
      <button id="taskAdder" style="display: none">Add Task</button>
      <button id="eventAdder">Add Event</button>

      <h2>Add Task</h2>
      <h2>Hello, {{username}}</h2>
      <label for="taskName">Task Name:</label>
      <input
        class="input"
        type="text"
        id="taskName"
        name="taskName"
        placeholder="Enter task name"
      />

      <label for="duration">Duration (hours):</label>
      <input
        class="input"
        type="number"
        id="duration"
        name="duration"
        placeholder="Enter duration"
        min="1"
      />
      <br />

      <label for="startDate">When to start?</label>
      <input
        class="input"
        type="date"
        id="startDate"
        name="startDate"
      />
      <input
        class="input"
        type="time"
        id="startTime"
        name="startTime"
      />
      <br />

      <label for="dueDate">When is it due?</label>
      <input class="input" type="date" id="dueDate" name="dueDate" />
      <input class="input" type="time" id="dueTime" name="dueTime" />

      <button id="addTaskButton">Create Task</button>
      <!-- Removed onclick attribute -->
      <br /><br />
      <span id="durationError" style="color: red"></span>
      <!-- Display error message here -->

      <h2 id="taskTitle">Tasks</h2>
      <ul id="taskList"></ul>
    </div>

    <div class="sidebarleft" id="eventSidebar" style="display: none">
      <button id="taskAdder">Add Task</button>
      <button id="eventAdder" style="display: none">Add Event</button>

      <!-- event sidebar content here-->
      <h2>Add Event</h2>
      <h2>Hello, {{username}}</h2>
      <label for="eventName">Event Name:</label>
      <input
        class="input"
        type="text"
        id="eventName"
        name="eventName"
        placeholder="Enter event name"
      />

      <label for="startDate">What time does it start?</label>
      <input
        class="input"
        type="date"
        id="firstDate"
        name="startDate"
      />
      <input
        class="input"
        type="time"
        id="firstTime"
        name="startTime"
      />
      <br />

      <label for="endDate">What time does it end?</label>
      <input class="input" type="date" id="endDate" name="endDate" />
      <input class="input" type="time" id="endTime" name="endTime" />
      <br />

      <div class="color-input-container">
        <label for="color">Event Color:</label>
        <input class="input" type="color" id="color" name="color" />
        <!--<div class="color-preview" id="colorPreview"></div> -->
      </div>
      <hr />
      <h3>Recurring?</h3>
      <label for="recurring">Is the event recurring?</label>
      <div class="box">
        <label><input type="checkbox" id="sunday" /></label>
        <label><input type="checkbox" id="monday" /></label>
        <label><input type="checkbox" id="tuesday" /></label>
        <label><input type="checkbox" id="wednesday" /></label>
        <label><input type="checkbox" id="thursday" /></label>
        <label><input type="checkbox" id="friday" /></label>
        <label><input type="checkbox" id="saturday" /></label>
      </div>
      <div class="box">
        <div><strong>S</strong></div>
        <div><strong>M</strong></div>
        <div><strong>T</strong></div>
        <div><strong>W</strong></div>
        <div><strong>T</strong></div>
        <div><strong>F</strong></div>
        <div><strong>S</strong></div>
      </div>
      <br />
      <label for="endTimeDate">Repeat weekly until when?</label>
      <input
        class="input"
        type="date"
        id="recurEndDate"
        name="recurEndDate"
      />
      <br />

      <button id="addEventButton">Create Event</button>
      <br /><br />
      <span id="TimeError" style="color: red"></span>
    </div>

    <div class="sidebarright">
      <div class="toprightcont">
        <button onclick="openSettings()" id="settings">Settings</button>
        <button onclick="logout()" id="logoutButton">Logout</button>
      </div>

      <div id="settingsMenu" style="display: none">
        <h2>Settings</h2>

        <label for="earliestTime">Start tasks no earlier than:</label>
        <input
          class="input"
          type="time"
          id="earliestTime"
          value="{{work_start_time}}"
        />
        <br />

        <label for="latestTime">Finish tasks by:</label>
        <input
          class="input"
          type="time"
          id="latestTime"
          value="{{work_end_time}}"
        />
        <br />

        <label for="idealChunkSize"
          >How long should each work session be (in minutes)?:</label
        >
        <input
          class="input"
          type="number"
          id="idealChunkSize"
          placeholder="Enter duration"
          min="1"
          value="{{ideal_chunk_length}}"
        />
        <br />

        <label for="eventPadding"
          >How much padding between events (in minutes)?:</label
        >
        <input
          class="input"
          type="number"
          id="eventPadding"
          placeholder="Enter padding"
          min="0"
          value="{{event_padding}}"
        />
        <br />

        <button onclick="saveSettings()" id="saveSettingsButton">
          Save
        </button>
        <br /><br />
        <span id="settingsError" style="color: red"></span>
      </div>

      <div class="tutorial-container" id="tutorial">
        <div class="tutorial-step" id="step1">
          <p>
            Welcome to your TimeManager! Press Enter to go through the
            tutorial.
          </p>
        </div>
        <div class="tutorial-step" id="step2">
          <p>
            Toggle your calendar view with the Month/Week/Day options.
          </p>
        </div>
        <div class="tutorial-step" id="step3">
          <p>
            Click on any day in the calendar in the Month view to add an
            event to block out your schedule.
          </p>
        </div>
        <div class="tutorial-step" id="step4">
          <p>
            You can also hold and drag in the Week/Day view to add
            events at specific times.
          </p>
        </div>
        <div class="tutorial-step" id="step5">
          <p>
            Add your custom tasks in the left sidebar; you can see the
            tasks you added below the Create Task button. These tasks
            will be scheduled automatically around your events.
          </p>
        </div>
        <div class="tutorial-step" id="step6">
          <p>
            If you want to create recurring events with more details,
            you can create those events in the left sidebar as well.
            Just toggle between adding tasks and events with the blue
            Add Task/Event button.
          </p>
        </div>
        <div class="tutorial-step" id="step7">
          <p>
            After adding tasks and events, you can click and drag them
            to move them around. To delete events, you can click on them
            in the calendar, and to delete tasks, you can click on the
            red X icon in the Tasks sidebar.
          </p>
        </div>
      <div class="tutorial-step" id="step8">
        <p>
          You can change your settings by clicking on the Settings
          button in the top right corner. Here you can change the
          start and end times of your work day, the ideal chunk size
           for your tasks, and the padding between events. Happy managing!
        </p>
      </div>
      </div>
      <h2 id="dynamicText">Loading...</h2>
      <a
        href="#"
        id="runTutorialLink"
        style="
          display: none;
          position: absolute;
          bottom: 10px;
          right: 10px;
          font-size: 16px;
        "
        >Run Tutorial</a
      >
    </div>
  </body>
</html>
